/*/////////////////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
}

a{  text-decoration: none;
  text-transform: none;
  color: white;
}

/* NAV BAR /////////////////////////////////////////////////////////////////////////////*/

.header{
  display: flex;
  width: 100%;
  height: 10vh;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  font-family: "Abril Fatface"
}

.navbar {
  width: ;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;
}

.navbar-item{
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.search-container{
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.search-bar{
  display: flex;
  width: 300px;
  height: 48px;
  padding: 8px 16px;
  align-items: center;

}

.nav-button{
  width: 300px;
  height: 31px;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}

/*/////////////////////////////////////////////////////////////////////////////*/

/* BANNER /////////////////////////////////////////////////////////////////////////////*/

.banner-home{
  width: 100%;
  height: 20vh;
  flex-shrink: 0;
  background-image: url("/assets/img/dashboard.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slogan-home{
  color: white;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  width: fit-content;
  margin-left: 10%;
}

/*/////////////////////////////////////////////////////////////////////////////*/

/* ABOUT PAGE /////////////////////////////////////////////////////////////////////////////*/

.about-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.developer-card{
  position: relative;
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 40px;
  background-color: white;
  padding:40px;
}

.profile-pic{
  height: 100px;
  width: auto;
}

.dev-name{
  margin: 30px 0px 10px 0px;
  font-weight: 500;
  font-size: 2em;
  color: black;
  text-align: center;
}

.dev-link{
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: black
}

/*/////////////////////////////////////////////////////////////////////////////*/

/* ADD CAR PAGE /////////////////////////////////////////////////////////////////////////////*/

.car-form {
  margin-top: 150px;
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.car-input{
  width: 80%;
  color: black;
  font-size: 40px;
  border-radius: 20px;
}

.car-input-btn{
  height: 5vh;
  width: 80%;
  text-align: center;
  font-size: 24px;
  border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center
}
/*/////////////////////////////////////////////////////////////////////////////*/

/* CAR BIDS PAGE /////////////////////////////////////////////////////////////////////////////*/

.lost{
  display: flex;
  justify-content: center;
  object-fit: cover;
}


/*/////////////////////////////////////////////////////////////////////////////*/

/* CAR LIST PAGE /////////////////////////////////////////////////////////////////////////////*/

.car-container{
  margin: 75px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  position: relative;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: lightgray;
  margin: 8px ;
  color: black;
}

.card-img{
  width: 400px; 
  height: 250px; 
  border-radius: 20px;
}

.card-title{
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  text-align: center
}

.card-text{
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

/*.card-price{
  text-align: start;
  margin-bottom: 10px;
}*/

.card-btn{
  width: 300px;
  height: 31px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center
}


/*/////////////////////////////////////////////////////////////////////////////*/

/* CAR DETAILS /////////////////////////////////////////////////////////////////////////////*/
.car-details-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
  margin-top: 150px;
}
/*/////////////////////////////////////////////////////////////////////////////*/

/* EDIT CAR PAGE /////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////*/

/* HOME PAGE /////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////*/

/* NOT FOUND PAGE /////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////*/

/* SEARCH PAGE /////////////////////////////////////////////////////////////////////////////*/

.search-car-container{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 225px;
  margin-top: 225px;
  flex-wrap: wrap;
}

/*/////////////////////////////////////////////////////////////////////////////*/

/* FOOTER /////////////////////////////////////////////////////////////////////////////*/

.footer{
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 30px;
}

.footer-title{
  font-family: "Abril Fatface"
}

/*/////////////////////////////////////////////////////////////////////////////*/